{
	email ccam@yale.edu
}

kiosk.local {
	tls internal
	tls /etc/caddy/certs/kiosk.local.pem /etc/caddy/certs/kiosk.local-key.pem

	handle_path / {
		root * /usr/share/caddy/
		encode gzip
		file_server
		header / {
			Content-Security-Policy = "upgrade-insecure-requests; default-src 'self'; style-src 'self'; script-src 'self'; img-src 'self'; object-src 'self'; worker-src 'self'; manifest-src 'self';"
			Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
			X-Xss-Protection = "1; mode=block"
			X-Frame-Options = "DENY"
			X-Content-Type-Options = "nosniff"
			Referrer-Policy = "strict-origin-when-cross-origin"
			Permissions-Policy = "fullscreen=(self)"
			cache-control = "max-age=0,no-cache,no-store,must-revalidate"
		}
	}

	handle_path /api/* {
		reverse_proxy /* api:3000
	}

}
